.secao-contato {
    p {
        font-size: 24px;
        font-weight: 600;
    }

    form {
        padding: 32px;
        background-color: #f3f7f9;
        border-radius: 4px;
        border-bottom: 4px solid var(--primary-dark);
        margin-bottom: 32px;

        label {
            font-weight: 700;
            color: var(--primary-dark);
        }

        input,
        textarea {
            border-radius: 4px;
            border: 1px solid #333;
        }

        textarea {
            resize: none;
            height: 160px;
        }
    }
    .mapa {
        display: flex;
        .info {
            width: calc(100% - 600px);
            height: 650px;
            background-color: #7f9cff;
            padding: 96px;
            padding-right: 0;
            display: flex;
            flex-direction: column;

            h1,
            h6,
            i {
                color: white;
                font-weight: 700;
            }

            i {
                font-size: 48px;
            }

            span {
                color: #293286;
            }

            .lista {
                gap: 48px;
                display: flex;
                flex-direction: column;
                margin-top: auto;
            }
        }
    }
}

.btn-primary {
    background-color: var(--primary-dark);
    padding: 14px 16px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

@media screen and (max-width: 576px) {
    .secao-contato {
        padding-bottom: 0 !important;
    }
    .mapa {
        flex-direction: column;
        margin: 0 -0.75rem;

        .info {
            width: 100% !important;
            padding: 1em !important;
            height: unset !important;
            .lista {
                gap: 24px !important;
            }
        }
        iframe {
            width: 100%;
            height: 420px;
        }
    }
}
