.cats {
    display: flex;
    gap: 1em;
}

.cat {
    border: 2px solid #8a72ca !important;
    color: #8a72ca !important;
    font-weight: 700 !important;
    border-radius: 8px !important;

    &.active {
        background-color: #8a72ca !important;
        color: white !important;
    }
}

.input-group {
    width: 300px !important;

    input {
        border: 1px solid #43414e;
        border-radius: 8px 0px 0px 8px !important;
    }

    button {
        background-color: hsla(256, 45%, 62%, 1);
        border: 1px solid hsla(256, 45%, 62%, 1);
        color: white;
        border-radius: 0px 8px 8px 0px !important;
    }
}

.pagination {
    justify-content: center;
    margin-bottom: 7.5em;
    .nav-links {
        display: flex;
        gap: 20px;
    }

    .page-numbers {
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        color: #2e1b70;

        &.current {
            border-radius: 52px;
            border: 2px solid #2e1b70;
            font-weight: 700;
        }
    }
}

.archive {
    .row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

    div[class^="col"]{
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;

    }
    
    .card {
        height: 100%;
    }
}
