.footer-section {
    background-color: #07041b;
    padding-top: 56px;
    padding-bottom: 56px;
    img {
        width: 150px;
    }

    h6 {
        color: #d6cefd;
        margin-bottom: 24px;
    }
    a,
    p {
        color: white;
        text-decoration: none;
    }
    hr {
        border-width: 2px;
        border-color: #d6cefd;
        opacity: 1;
    }

    i {
        font-size: 40px;
        color: #d6cefd;
    }
}

.header-section,
.sobre-section,
.contact-section {
    background-image: linear-gradient(to bottom right, #07041b, hsl(248, 74%, 12%), #07041b);
}

.header-section {
    //background-color: #07041b;
    color: white;

    .section-text {
        margin: 48px 0;
        .underlined {
            border-bottom: 3px solid #b19ced;
        }
    }

    .logos {
        margin-top: 90px;

        .btn {
            &:first-child {
                padding-left: 0;
            }

            .fa-brands {
                font-size: 40px;
                color: hsla(250, 92%, 90%, 1);
            }
        }
    }
}

.notices-section {
    a {
        text-decoration: none;
        color: #8a72ca;
    }
}

.data-section {
    background-color: hsla(253, 61%, 27%, 1);
    padding: 3em 0;
    color: hsla(250, 92%, 90%, 1);

    h1 {
        font-weight: 700;
    }
}

.news-section,
.projects-section {
    .card-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}

.card-news img {
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}


.card-news:hover > .img-wrapper img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.card-news-main {
    img {
        aspect-ratio: 5 / 3;
    }
}

.img-wrapper {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
    height: 200px;
    min-width: 300px;

    img{
        width: 100% !important;
        height: 100% !important;
    }
}

/*
.card-news-row {
    img {
        aspect-ratio: 5/4;
        height: 100%;
    }
}
*/
.card-news {
    h6 {
        color: hsla(256, 45%, 62%, 1);
    }
}

.news-section,
.projects-section {
    .section-title {
        margin-bottom: 5.5em;
    }
}

.projects-section {
    background-color: hsla(246, 80%, 12%, 1);

    .section-title {
        color: white;
    }

    .card {
        height: 100%;
    }

    .card-img-top {
        aspect-ratio: 2 /1;
        object-fit: cover;
    }

    .projects {
        background-color: white;
        padding: 48px 108px;
        border-radius: 8px;
        position: relative;
        margin-bottom: 81px;

        .swiper-slide {
            height: auto !important;
        }

        .swiper-content {
            height: 100% !important;
        }

        .swiper {
            height: 100%;
            background-color: white;
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: hsla(256, 45%, 62%, 1);
        }

        .swiper-button-prev {
            margin-left: 27px;
        }

        .swiper-button-next {
            margin-right: 27px;
        }

        .swiper-pagination {
            margin-bottom: -81px;
        }

        .swiper-pagination-bullet {
            width: 16px;
            height: 16px;
            border: 2px solid hsla(250, 92%, 90%, 1);
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: hsla(250, 92%, 90%, 1);
        }
    }
}

.img-equipe {
    margin-left: -5em;
    margin-right: 5em;
}

.quote {
    gap: 16px;
    margin-top: 100px;

    .quote-mark {
        font-family: "Ubuntu", sans-serif !important;
        font-size: 128px;
        color: hsla(253, 61%, 27%, 1);
        line-height: 1;
    }
}

.quoter {
    margin-top: -5em;
    gap: 16px;

    img {
        padding: 8px;
        border: 4px solid #8971c9;
        border-radius: 50%;
    }

    .quoter-name {
        color: #8971c9;
        font-weight: 700;
    }
}

.header-section,
.projects-section,
.partners-section {
    .section-tag {
        color: #d6cefd !important;
        border-color: #d6cefd !important;
    }
}

.partners-section {
    background-color: hsla(253, 61%, 27%, 1);
    color: #d6cefd !important;

    hr {
        border-width: 2px;
        opacity: 1;
        border-color: #d6cefd;
        margin-bottom: 40px;
    }
}
